.nav-tabs {
    border-bottom: 0px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 10px 15px;
    margin:0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #555;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}