<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!--将日志信息输出到控制台  -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<!-- 设置日志输出的样式 -->
		<layout class="org.apache.log4j.PatternLayout">
			<!-- 设置日志输出的格式 -->
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss SSS}] [%-5p] [%l]%n%m%n" />
		</layout>
		<!--过滤器设置输出的级别-->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<!-- 设置日志输出的最小级别 -->
			<param name="LevelMin" value="DEBUG" />
			<!-- 设置日志输出的最大级别 -->
			<param name="LevelMax" value="ERROR" />
			<!-- 设置日志输出的xxx，默认是false -->
            <param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<appender name="DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="c:/logs/debug.log" />
		<param name="DatePattern" value="'daily.'yyyy-MM-dd-HH'.log'" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss SSS}] [%-5p] [%l]%n%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="c:/logs/info.log" />
		<param name="DatePattern" value="'daily.'yyyy-MM-dd-HH'.log'" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss SSS}] [%-5p] [%l]%n%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<appender name="WARN" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="c:/logs/warn.log" />
		<param name="DatePattern" value="'daily.'yyyy-MM-dd-HH'.log'" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss SSS}] [%-5p] [%l]%n%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="WARN" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="c:/logs/error.log" />
		<param name="DatePattern" value="'daily.'yyyy-MM-dd-HH'.log'" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss SSS}] [%-5p] [%l]%n%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<!-- root部分定义了log4j的默认输出级别和方式 -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="DEBUG" />
		<appender-ref ref="INFO" />
		<appender-ref ref="WARN" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="CONSOLE"/>
	</root>
</log4j:configuration> 